<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

  <input
    type="name"
    formControlName="username"
    placeholder="Nombre de usuario"
  />

  <div *ngIf="username?.touched && username?.invalid">
    <small *ngIf="username?.errors?.['required']">El nombre de usuario es obligatorio</small>
    <small *ngIf="username?.errors?.['minlength']">Mínimo 4 caracteres</small>
  </div>

  <input
    type="password"
    formControlName="userpassword"
    placeholder="Contraseña"
  />

  <div *ngIf="password?.touched && password?.invalid">
    <small *ngIf="password?.errors?.['required']">La contraseña es obligatoria</small>
    <small *ngIf="password?.errors?.['minlength']">Mínimo 4 caracteres</small>
  </div>

  <button type="submit" [disabled]="loading">
    {{ loading ? 'Iniciando sesión...' : 'Iniciar sesión' }}
  </button>



</form>
